@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-black: #000;
  --color-white: #fff;
  --color-background-100: var(--color-background-100);
  --color-background-150: var(--color-background-150);
  --color-background-200: var(--color-background-200);
  --color-background-250: var(--color-background-250);
  --color-background-300: var(--color-background-300);
  --color-background-350: var(--color-background-350);
  --color-background-400: var(--color-background-400);
  --color-background-450: var(--color-background-450);
  --color-background-550: var(--color-background-550);
  --color-background-600: var(--color-background-600);
  --color-background-650: var(--color-background-650);
  --color-background-700: var(--color-background-700);
  --color-background-750: var(--color-background-750);
  --color-background-800: var(--color-background-800);
  --color-background-850: var(--color-background-850);
  --font-primary: Ginto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --shadow-hover: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
:before,
:after {
  box-sizing: border-box;
  border: none;
  outline: none;
}

:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
  font-family: var(--font-primary);
  font-feature-settings: normal;
  font-variation-settings: normal;
  @apply bg-background text-foreground;
}

.ProseMirror {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  padding: var(--editor-padding, 0px);
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.ProseMirror > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.ProseMirror:focus {
  outline: none;
}

/* Reset styles */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 600ms linear;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
