@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --primary: 222.2 84% 4.9%;
  --secondary: 215 20.2% 65.1%;
  --card: 0 0% 98%;
  --border: 214.3 31.8% 91.4%;
  --btn-hover: 210 40% 96.1%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --primary: 210 40% 98%;
  --secondary: 215 20.2% 65.1%;
  --card: 222.2 47.4% 11.2%;
  --border: 217.2 32.6% 17.5%;
  --btn-hover: 217.2 32.6% 17.5%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--primary));
  min-height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.gradient-text {
  @apply bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 bg-clip-text text-transparent;
}
